* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F5F5F1;
}

.container {
    text-align: center;
    margin: 0 auto;
}

#our-team {
    margin-top: 20px;
    width: 50%;
}

#grid {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 30px auto;
}

.card {
    width: calc((100% / 3) - 10px);
    height: 300px;
    margin: 5px;
    background-color: white;
}

.profile-img {
    width: 100%;
    height: auto;
}

.descrizione {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.descrizione span {
    display: block;
}

.name {
    font-size: 20px;
    display: block;
}


/* MEDIA QUERY */

@media all and (min-width: 700px) {
    .card {
        height: 300px;
    }
}

@media all and (min-width: 900px) {
    .card {
        height: 310px;
    }
}

@media all and (min-width: 1100px) {
    .card {
        height: 420px;
    }
}